body {
  background: #5f939a;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  background: #d8ac9c;
  padding: 10px 30px;
  margin: 30px auto;
  margin-bottom: 0;
  border: 2px solid black;
  border-radius: 8px;
}
#searchBox {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid black;
}
.search-btn {
  border-radius: 15px;
}
#location-btn {
  background: #eac8af;
  border-radius: 15px;
  transition: all 200ms ease-in;
}
#location-btn:hover {
  background: #5f939a;
  color: #eac8af;
}
#city {
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: capitalize;
}
.currentWeather {
  color: #191a19;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  position: relative;
  top: 30px;
}
.weatherInfo {
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  position: relative;
  bottom: 55px;
}
ul {
  list-style-type: none;
}
#description {
  text-transform: capitalize;
}
.forcast-heading {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}
.forcast {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: 15px;
  padding-top: 0 auto;
}
.col {
  border-right: 1px solid black;
}
.sat {
  border: none;
}
small {
  font-family: "Raleway", sans-serif;
}
a {
  color: #eac8af;
  font-weight: bold;
  text-decoration: none;
}
